.mat1{
  text-align: center;
  margin: 1% auto 1% 1%;
  background-color: #f7f2dc;
}

.mat2{
  width: min-content;
  text-align: center;
  margin: 1% auto 5% 5%;
  background-color: #f7f2dc;
}
.fecha{
  width: 200px;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 5%;
}
.example-viewport {
  height: 450px;
  width: 165vh;
}

.example-item {
  height: 450px;
}
