<div class="opcionfd">
  <div class="opcion1fd">
    <button mat-flat-button class="botonmenu" (click)="mostrarNuevo()">NUEVO PRESTAMO</button>
    <button mat-flat-button class="botonmenu" (click)="mostrarLista()">VER PRESTAMOS</button>
  </div>
</div>



<br>

<section *ngIf="divNuevo==true">


  <mat-stepper linear #stepper class="borde1">
    <mat-step [stepControl]="libroDispFormGroup" [editable]="isEditable">
      <form [formGroup]="libroDispFormGroup">
        <ng-template matStepLabel>
          <div class="colorclaro">LIBRO</div>
        </ng-template>


        <mat-card class="example-card-two">

          <div>


            <mat-card class="cardTipoA1">


              <mat-form-field appearance="outline" class="bordeFiltro">
                <mat-label>Buscar Libro</mat-label>
                <input matInput (keyup)=" applyFilterLibroDisponible($event)" placeholder="Ex. Lib1" #input>
                <mat-icon matSuffix>find_in_page</mat-icon>
              </mat-form-field>


              <mat-card-content>

                <section class="barra-deslizadora" tabindex="0">
                  <table mat-table [dataSource]="dataSourceLibro" style=" background-color: #f7f2dc ;">

                    <ng-container matColumnDef="codigo">
                      <th mat-header-cell *matHeaderCellDef>
                        <div style="text-align: center;">
                          <h3>MIS LIBROS</h3>
                        </div>
                      </th>

                      <td mat-cell *matCellDef="let element">


                        <table class="table2">
                          <tr style="text-align: center;">
                            <td style="text-align:left ; width: 85%;">
                              <div class="divtipo1"><strong>CÓDIGO:
                                </strong>{{element.codigoLibro|uppercase}}<br></div>
                              <div class="divtipo1"><strong>NOMBRE:
                                </strong>{{element.nombre|uppercase}}<br></div>
                              <div class="divtipo1"><strong>AUTOR:
                                </strong>{{element.autor|uppercase}} <br></div>
                            </td>

                            <td>


                              <div>
                                <button mat-stroked-button class="boton1" (click)="cargarDatosLibro(element.id)">
                                  <mat-icon>forward</mat-icon>
                                </button>
                              </div>

                            </td>
                          </tr>
                        </table>

                      </td>

                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsLibroDis"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsLibroDis;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">No hay datos que coincidan con el
                        filtro
                        "{{input.value}}"
                      </td>
                    </tr>
                  </table>
                </section>


              </mat-card-content>


            </mat-card>

            <mat-card class="cardTipoC3" *ngIf="cardLibro==true">
              <br>
              <div style="width: 500px;">
                <mat-card-title>
                  <div style="text-align: center;"> DATOS DE LIBRO</div>

                </mat-card-title>
              </div>


              <br>
              <mat-card-content>

                <table class="table2" style="text-align: center;">

                  <br>

                  <tr aria-colspan="6">
                    <td colspan="1">
                      <strong>ID: </strong>
                    </td>
                    <td colspan="1" class="txt">
                      <input readonly="true" matInput formControlName="idLibroA" required> 

                    </td>
                  </tr>
                  <br>
                  <tr aria-colspan="6">
                    <td colspan="1">
                      <strong>CÓDIGO: </strong>
                    </td>
                    <td colspan="1" class="txt">
                      <input readonly="true" matInput formControlName="codigoLibro" required>
                    </td>
                  </tr>
                  <br>
                  <tr aria-colspan="6">
                    <td colspan="1">
                      <strong>NOMBRE: </strong>
                    </td>
                    <td colspan="1" class="txt">
                      <input readonly="true" matInput formControlName="nombreL" required>
                    </td>
                  </tr>
                  <br>
                  <tr aria-colspan="6">
                    <td colspan="1">
                      <strong>AUTOR: </strong>
                    </td>
                    <td colspan="1" class="txt">
                      <input readonly="true" matInput formControlName="autor" required>
                    </td>
                  </tr>

                </table>


                <table>

                </table>

                <br>

                <table class="table2">
                  <tr style="text-align: center;">
                    <td style="text-align:left ; width: 70%;">

                    </td>

                    <td>

                      <button mat-button matStepperNext mat-flat-button class="botonnaranja">SIGUIENTE
                        <mat-icon>forward
                        </mat-icon>
                      </button>
                    </td>


                  </tr>

                </table>

              </mat-card-content>


            </mat-card>


          </div>


        </mat-card>

      </form>
    </mat-step>




    <!--PARTE DE ELECCION DE CLIENTES-->

    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">

      <form [formGroup]="prestamoLibroFormGroup">
        <ng-template matStepLabel>
          <div class="colorclaro">CLIENTE</div>
        </ng-template>
        <mat-card class="example-card-two">

          <mat-card class="cardCurso">

            <table class="table2">
              <tr style="text-align: center;">
                <td style="text-align:left ; width: 85%;">
                  <mat-form-field appearance="outline" class="bordeFiltro">
                    <mat-label>Buscar Cliente</mat-label>
                    <input matInput (keyup)="applyFilterCliente($event)" placeholder="Ex. Franklin Dominguez" #input>
                    <mat-icon matSuffix>find_in_page</mat-icon>
                  </mat-form-field>
                </td>

                <td>

                  <button mat-stroked-button class="boton2" (click)="openDialog()">
                    <mat-icon>person_add</mat-icon>
                  </button>

                </td>
              </tr>
            </table>


            <mat-card-content>

              <section class="barra-deslizadora" tabindex="0">


                <table mat-table [dataSource]="dataSourceCliente" style="background-color: #f7f2dc ;">


                  <ng-container matColumnDef="cedula">
                    <th mat-header-cell *matHeaderCellDef>
                      <div style="text-align: center;">
                        <h3>MIS CLIENTES</h3>
                      </div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <table class="table2">
                        <tr style="text-align: center;">
                          <td style="text-align:left ; width: 85%;">
                            <div class="divtipo1"><strong>CÉDULA:
                              </strong>{{element.cedula|uppercase}}<br></div>
                            <div class="divtipo1"><strong>NOMBRE:
                              </strong>{{element.nombres|uppercase}} {{element.apellidos|uppercase}}<br></div>
                            <div class="divtipo1"><strong>EDAD:
                              </strong>{{element.edad}} <br></div>
                          </td>

                          <td>
                            <button mat-stroked-button class="boton1" (click)="cargarDatosCliente(element.idCliente)">
                              <mat-icon>forward</mat-icon>
                            </button>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </ng-container>


                  <tr mat-header-row *matHeaderRowDef="displayedColumnsCliente"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsCliente;"></tr>

                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No hay datos que coincidan con el
                      filtro
                      "{{input.value}}"
                    </td>
                  </tr>
                </table>

              </section>


            </mat-card-content>


          </mat-card>





          <div *ngIf="cardCliente == true">
            <mat-card class="cardTipo2">

              <mat-card class="colorFondo">
                <form [formGroup]="secondFormGroup">

                  <mat-form-field appearance="outline">
                    <mat-label>Cédula</mat-label>
                    <input readonly="true" type="text" matInput formControlName="cedula">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input readonly="true" type="text" matInput formControlName="nombres" required>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input readonly="true" type="text" matInput formControlName="email" required>
                  </mat-form-field>

                </form>
              </mat-card>
              <br>


              <mat-card class="colorFondo">

                <form [formGroup]="libroDispFormGroup">
                  <mat-form-field appearance="outline">
                    <mat-label>Libro</mat-label>
                    <input readonly="true" type="text" matInput formControlName="codigoLibro" required>
                  </mat-form-field>
                </form>

                <mat-form-field appearance="outline">
                  <mat-label>Fecha Préstamo </mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="fechaEntrega">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>



                <mat-form-field appearance="outline">
                  <mat-label>Fecha Devolución </mat-label>
                  <input matInput [matDatepicker]="picker2" formControlName="fechaDev"
                    [min]="prestamoLibroFormGroup.getRawValue().fechaEntrega">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>




                <mat-form-field appearance="outline">
                  <mat-label>Observación</mat-label>
                  <textarea matInput rows="1" formControlName="observacion"></textarea>
                </mat-form-field>

              </mat-card>


            </mat-card>

            <table class="table2" style=" background-color: transparent;">
              <tr style="text-align: center;">
                <td style="text-align:left;">

                </td>
                <td></td>
                <td></td>
                <td> </td>

                <div class="td1">

                  <td>
                    <button mat-button matStepperPrevious class="botonrojo">
                      <mat-icon>reply</mat-icon>
                      REGRESAR
                    </button>
                  </td>

                  <td>
                    <div>


                      <button mat-button class="botonnaranja" [disabled]="prestamoLibroFormGroup.invalid"
                        (click)="guardarPrestamoLibro()">
                        GUARDAR
                        <mat-icon>save</mat-icon>
                      </button>
                    </div>

                  </td>
                </div>

              </tr>


            </table>

          </div>




        </mat-card>

      </form>


    </mat-step>




  </mat-stepper>

</section>



<section *ngIf="divListar==true">
  <mat-card class="bordeev" style="width: 90%;">

    <mat-card style="background-color: #f7f2dc;" *ngIf="cardListarModulo==true">
      <mat-card-content>

        <mat-form-field appearance="outline" class="bordeFiltro">
          <mat-label>Buscar Registro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Lib8" #input>
          <mat-icon matSuffix>find_in_page</mat-icon>
        </mat-form-field>


        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort style="background-color: #f7f2dc;">



            <!-- Name Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style=" width: 6%">ID</th>
              <td mat-cell *matCellDef="let row" style="width: 6%;" class="textoInicio">
                {{row.idPrestamo}}</td>
            </ng-container>

            <ng-container matColumnDef="libro">
              <th mat-header-cell *matHeaderCellDef style=" width: 7%;text-align: center;"> LIBRO </th>
              <td mat-cell *matCellDef="let row" style=" width: 7%;">
                <strong>{{row.codigoLibro|uppercase}}</strong>
              </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="prestamo">
              <th mat-header-cell *matHeaderCellDef style=" width: 8%;text-align: center;"> FECHA PRÉSTAMO</th>
              <td mat-cell *matCellDef="let row" style=" width: 8%;">
                {{row.anioPrestamo}}-{{row.mesPrestamo}}-{{row.diaPrestamo}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="cedula">
              <th mat-header-cell *matHeaderCellDef style=" width: 8%;text-align: center;"> CÉDULA</th>
              <td mat-cell *matCellDef="let row" style=" width: 8%;"> {{row.cedula}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="cliente">
              <th mat-header-cell *matHeaderCellDef style=" width: 28%;text-align: center;"> CLIENTE</th>
              <td mat-cell *matCellDef="let row" style=" width: 28%;"> {{row.nombres|uppercase}}
                {{row.apellidos|uppercase}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef style=" width: 8%;text-align: center;"> TELÉFONO </th>
              <td mat-cell *matCellDef="let row" style=" width: 8%;"> {{row.telefono|uppercase}}
              </td>
            </ng-container>

            <ng-container matColumnDef="devolucion">
              <th mat-header-cell *matHeaderCellDef style=" width: 8%;text-align: center;"> FECHA DEVOLUCIÓN </th>
              <td mat-cell *matCellDef="let row" style=" width: 8%;">
                {{row.anioDev}}-{{row.mesDev}}-{{row.diaDev}} </td>
            </ng-container>

            <ng-container matColumnDef="observacionn">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"> OBSERVACIÓN </th>
              <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.observacionEntrega|uppercase}} </td>
            </ng-container>



            <ng-container matColumnDef="boton">
              <th mat-header-cell *matHeaderCellDef style=" width: 6%;text-align: center;"> DEVOLVER</th>
              <td mat-cell *matCellDef="let row" style=" width: 6%;"> <button mat-flat-button color="primary"
                  (click)="devolucionLibro(row.idPrestamo)">DEVOLVER</button> </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator style="background-color: #f7f2dc;" [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page of users"></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="borde2" *ngIf="cardListarVacio==true">

      <h1>{{mensajeSinParticiantes}}</h1>
    </mat-card>

  </mat-card>
</section>





<!------------------------------------------------------------------------------------------------------------------------------------------>

<!------------------------------------------------------------------------------------------------------------------------------------------>
<!--Dialogo para crear cliente-->

<p-dialog [(visible)]="dialogoCliente" [style]="{width:'43vw'}" [draggable]="false" [baseZIndex]="10000" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">

    <mat-card class="dialogo">

      <form [formGroup]="formCliente">


        <app-nuevoCliente></app-nuevoCliente>
        <table>
          <tr style="text-align: center;">
            <td style="text-align:left ; width: 60%;">

            </td>
            <td>
              <button mat-button class="botonrojo" (click)="dialogoCliente=false">
                <mat-icon>close</mat-icon>
                CERRAR
              </button>
            </td>
          </tr>
        </table>








      </form>



    </mat-card>

  </ng-template>

</p-dialog>


<!--Dialogo ver datos de cliente-->
<p-dialog [(visible)]="dialogoVerDatoCliente" [style]="{width:'43vw'}" [draggable]="false" [baseZIndex]="10000"
  [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">

    <mat-card class="dialogo">

      <mat-card class="cardCurso" *ngIf="cardCliente==true">



        <div>
          <div style="width: 500px;">
            <mat-card-title>
              <div style="text-align: center;"> DATOS DE CLIENTE</div>

            </mat-card-title>
          </div>
          <br>
          <mat-card-content>

            <table class="table2">

              <tr aria-colspan="6">
                <td colspan="1">
                  <strong>CÉDULA: </strong>
                </td>
                <td colspan="1" class="txt">
                  <input readonly="true" matInput formControlName="cedula" required>
                </td>
              </tr>

              <tr aria-colspan="6">
                <td colspan="1">
                  <strong>NOMBRES: </strong>
                </td>
                <td colspan="1" class="txt">
                  <input readonly="true" matInput formControlName="nombres" required>
                </td>
              </tr>

              <tr aria-colspan="6">
                <td colspan="1">
                  <strong>EDAD: </strong>
                </td>
                <td colspan="1" class="txt">
                  <input readonly="true" matInput formControlName="edad" required>
                </td>
              </tr>

              <tr aria-colspan="6">
                <td colspan="1">
                  <strong>EMAIL: </strong>
                </td>
                <td colspan="1" class="txt">
                  <input readonly="true" matInput formControlName="email" required>
                </td>
              </tr>
              <tr aria-colspan="6">
                <td colspan="1">
                  <strong>DIRECCIÓN: </strong>
                </td>
                <td colspan="1" class="txt">
                  <input readonly="true" matInput formControlName="direccion" required>
                </td>
              </tr>

              <tr aria-colspan="6">
                <td colspan="1">
                  <strong>REPRESENTANTE: </strong>
                </td>
                <td colspan="1" class="txt">
                  <input readonly="true" matInput formControlName="representante" required>
                </td>
              </tr>


            </table>

            <br>

            <table class="table2">
              <tr style="text-align: center;">
                <td style="text-align:left ; width: 70%;">

                  <button mat-button matStepperPrevious class="botonrojo">
                    <mat-icon>reply</mat-icon>
                    REGRESAR
                  </button>

                </td>

                <div>
                  <td>
                    <button [disabled]="secondFormGroup.invalid" mat-button matStepperNext mat-flat-button
                      class="botonnaranja">SIGUIENTE
                      <mat-icon>forward
                      </mat-icon>
                    </button>
                  </td>
                </div>


              </tr>

            </table>

          </mat-card-content>
        </div>


      </mat-card>

    </mat-card>

  </ng-template>

</p-dialog>